<h1>Notes</h1>
<p><%= link_to 'New Note', new_note_path %></p>
<% @notes.each do |n| %>
<h2><%= n.title %></h2>
<%= link_to 'View Note', note_path(n) %>
<%= link_to 'Edit Note', edit_note_path(n) %>
<% end %>
